#tree {
    display: block;
    position: absolute;
    width: 70vw;
    left: 20%;
    height: 500px;
    float: inline-start;
} 




#grap{
  left: -3%;
    position: absolute;
    width:70vw;
    height: 25vw;
}

.slider_input{
    width: 40%;
    z-index: 1;
}
 #trav{
    width: 15%;
    padding: 1%;
    border-radius: 20px;
    font-family: arial;
    font-size: 1.5vw;
    text-align: center;
    background-color: #f2f1f0;
    border: 1px solid black;
}
 





/* #sequencelbl { */
/*     display: block; */
/*     position: relative; */
/*     width: 50%; */
/*     float: left; */
/*     font-size: 1.5vw; */
/*     top: 4vw; */
/* } */
#speed_adjust{
    position: relative;
    top:1vw;
    width:100%;
}
 
/* #traversal { */
/*     display: block; */
/*     position: relative; */
/*     width: 50%; */
/*     left:-38%; */
/*     float: right; */
/*     font-size:1.5vw; */
/*     top:4vw; */
/* } */
